<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .row1 {
            margin-top: 10px;
        }

        h3 {
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }
    </style>
    <script>
        function insertBook() {
            const savedBookContainer = document.getElementById("saved-person")
            const titleInput = document.getElementById("book-title-input")
            const authorInput = document.getElementById("authors_select")
            const genresBox = document.getElementById("genres_select")
            const selectedValue = Array.from(genresBox.selectedOptions).map(option => option.value)
            const genres = [{id:"1", name:"nothing"}]
            const author = {id: authorInput.value, fullName: "nothing"}
            const book = {title: titleInput.value, author:author, genres: genres, genreIds: selectedValue}
            fetch("/api/books", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)

            })
                .then(rawResponse => rawResponse.json())
                .then(json => savedBookContainer.innerHTML = JSON.stringify(json, null, 4))
                .catch(e => console.error('EXCEPTION: ' + e))
        }
    </script>
</head>
<body>

<form id="insert-form" action="insert.html" th:action="@{/api/books}" th:method="post">
    <h3>Book Info:</h3>

    <div class="row" hidden="hidden">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" name="id" th:value="0" value="0"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text"/>
    </div>

    <div class="row">
        <label for="authors_select">Author:</label>
        <select class="form-control" id="authors_select">
            <option th:each="author : ${allAuthors}"
                    th:value="${author.id}"
                    th:text="${author.fullName}"/>
        </select>
    </div>

    <div class="row1">
        <label for="genres_select">Genres:</label>
        <select class="form-control" id="genres_select" name="genres" multiple>
            <option th:each="genre : ${allGenres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}"/>
        </select>
    </div>

    <div class="row">
        <button type="button" onclick="insertBook()">Save</button>
        <a href="list.html" th:href="@{/}">
            <button type="button">Return</button>
        </a>
    </div>
</form>
<h3>Saved Book:</h3>
<pre id = "saved-person"></pre>
</body>
</html>